<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392015997675-vrn74j0n2sh4pk5e43e0pbjcdj2ksllq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392015997675-vrn74j0n2sh4pk5e43e0pbjcdj2ksllq</string>
	<key>API_KEY</key>
	<string>AIzaSyB8x9OXV9fVEx0piHvICWw7ahBnBsHtKqY</string>
	<key>GCM_SENDER_ID</key>
	<string>392015997675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.fibeapp.RealTimeChat</string>
	<key>PROJECT_ID</key>
	<string>realtimechat-735a3</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimechat-735a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392015997675:ios:62099e18469930d2a4ecae</string>
	<key>DATABASE_URL</key>
	<string>https://realtimechat-735a3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>